name: CI

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Check code
      run: pre-commit run --from-ref origin/master --to-ref HEAD

  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: cd docker && docker-compose build
      - name: Run setup
        run: cd docker && docker-compose run -e PASS=a -e ZSH=true dotfiles bash -c "make setup"
